<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Temperature</th>
            <th class="text-center">Luminosity</th>
          </tr>
        </thead>
        <tbody>
        <% @data.each do |datum| %>
            <tr>
              <td><%= datum.id %></td>
              <td><%= datum.temperature %></td>
              <td><%= datum.luminosity %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
