<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">UUID</th>
            <th class="text-center"># Medições</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @nodes.each do |node| %>
          <tr>
            <td><%= node.id %></td>
            <td><%= node.uuid %></td>
            <td><%= node.data.size %></td>
            <td>
              <%= link_to 'Ver', node_path(node), class: 'btn btn-sm btn-success' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
