<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <h1>Nodes</h1>
        <hr>
        <%= render 'panel' %>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
